In [ ]:
pip install pdfplumber

In [1]:
import pdfplumber
import pandas as pd

In [2]:
file_path = "E:\AI_Champ_Challenge\Linkdin_Connection_pdfs(Task1)"
file_name = "Profile"

In [4]:
text_line = []
for num_files in range(1, 51):
    data_per_profile = ""
    with pdfplumber.open(file_path + '\\' + file_name + str(num_files) + '.pdf') as pdf:
        pages = pdf.pages
        for page in pages:
            text = page.extract_text()
            for line in text.split('\n'):
                data_per_profile = data_per_profile + line + " "
    text_line.append(data_per_profile)

In [5]:
df = pd.DataFrame(text_line, columns = ["Text_Data"], index = ["profile" + str(i) for i in range(1, 51)])
df.head()

                                                  Text_Data
profile1      Contact abhay rai abhayrairocks778@gmail.c...
profile2      Contact TNP Consultant tnp.consultant@neri...
profile3      Contact Mitali Sodhi www.linkedin.com/in/m...
profile4      Contact Srivatsan Srinivasan www.linkedin....
profile5      Contact Tanvi Shinde Band itstannus@gmail....

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 50 entries, profile1 to profile50
Data columns (total 1 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Text_Data  50 non-null     object
dtypes: object(1)
memory usage: 800.0+ bytes

In [7]:
df.to_csv('profile_data.csv', index=True, header = True)