In [1]:
import pandas as pd

import nltk

nltk.download('stopwords')

#nltk.download('RegexpTokenizer')

from nltk.corpus import stopwords

from nltk.tokenize import RegexpTokenizer

import string

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\Rohan\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

In [2]:
file_path = "E:\AI_Champ_Challenge\Extract_text_from_pdf_and_save_to_CSV(Task2)"
file_name = "profile_data.csv"

In [3]:
data = pd.read_csv(file_path + "\\" + file_name)
data.head()

  Unnamed: 0                                          Text_Data
0   profile1      Contact abhay rai abhayrairocks778@gmail.c...
1   profile2      Contact TNP Consultant tnp.consultant@neri...
2   profile3      Contact Mitali Sodhi www.linkedin.com/in/m...
3   profile4      Contact Srivatsan Srinivasan www.linkedin....
4   profile5      Contact Tanvi Shinde Band itstannus@gmail....

In [4]:
def remove_punctuation(text_data):
    data_with_no_punct = "".join([data for data in text_data if data not in string.punctuation])
    return data_with_no_punct

In [5]:
data["Text_Data"] = data["Text_Data"].apply(lambda text_data : remove_punctuation(text_data))
data["Text_Data"].head()

0        Contact abhay rai abhayrairocks778gmailcom...
1        Contact TNP Consultant tnpconsultantnerist...
2        Contact Mitali Sodhi wwwlinkedincominmital...
3        Contact Srivatsan Srinivasan wwwlinkedinco...
4        Contact Tanvi Shinde Band itstannusgmailco...
Name: Text_Data, dtype: object

In [6]:
tokenizer = RegexpTokenizer(r'\w+|\$[\d\.]+|\S+')

In [7]:
data["Text_Data"] = data["Text_Data"].apply(lambda text_data : tokenizer.tokenize(text_data))
data["Text_Data"].head()

0    [Contact, abhay, rai, abhayrairocks778gmailcom...
1    [Contact, TNP, Consultant, tnpconsultantnerist...
2    [Contact, Mitali, Sodhi, wwwlinkedincominmital...
3    [Contact, Srivatsan, Srinivasan, wwwlinkedinco...
4    [Contact, Tanvi, Shinde, Band, itstannusgmailc...
Name: Text_Data, dtype: object

In [8]:
def remove_stopwords(text_data):
    words = [word for word in text_data if word not in stopwords.words('english')]
    return words

In [9]:
data["Text_Data"] = data["Text_Data"].apply(lambda text_data : remove_stopwords(text_data))
data["Text_Data"].head()

0    [Contact, abhay, rai, abhayrairocks778gmailcom...
1    [Contact, TNP, Consultant, tnpconsultantnerist...
2    [Contact, Mitali, Sodhi, wwwlinkedincominmital...
3    [Contact, Srivatsan, Srinivasan, wwwlinkedinco...
4    [Contact, Tanvi, Shinde, Band, itstannusgmailc...
Name: Text_Data, dtype: object